
    <div>
        <p></p>
        <a asp-controller="Edit" asp-action="EditBook">Редактирование/добавление книг</a>
        <p></p>
        <a asp-controller="Edit" asp-action="EditCategory">Редактирование/добавление категорий</a>
        <p></p>
        <a asp-controller="Edit" asp-action="EditWriter">Редактирование/добавление авторов</a>
        <p></p><p></p><p></p>
        <a asp-controller="Edit" asp-action="OrderDetails">Список заказов</a>
    </div>