<h1>Как нас найти и как с нами связаться</h1>


<h2>Время работы</h2>
<p>С понедельника по пятницу: <strong>с 9:00 до 19:00</strong>.</p>
<p>В субботу и воскресенье: <strong>с 10:00 до 16:00</strong>.</p>
<p>Заказы на сайте принимаются в любое время суток, но обрабатываются только в рабочие часы.</p>
<p>&nbsp;</p>
<h2>Реквизиты</h2>
<p>Республика Беларусь</p>
<p>ООО &laquo;byEllTan Shop&raquo;</p>
<p>220013, г. Минск, ул.Я.Коласа, д.34б, оф.4Н</p>
<p>Р/сч: BY71SOMA30120095220101000933 в ЗАО &quot;Идея Банк&quot;&nbsp;220013, г. Минск, ул. Змитрока Бядули д11, SWIFT SOMABY22</p>
<p>УНП 191006610</p>
<p>ОКПО 378000515000</p>
<p><a href="mailto:byelltan@gmail.com">byelltan@gmail.com</a></p>
<p>&nbsp;</p>
<h2>Адрес офиса</h2>
<p>220013, г. Минск, ул.Я.Коласа, д.34б, оф.4Н</p>
<p>&nbsp;</p>
<h2>Контактные телефоны:</h2>
<p>тел.факс. 8 (017) 342-24-30, 317-24-31, 347-24-32</p>
<p>МТС &nbsp; &nbsp;&nbsp;&nbsp; 8 (029) 755-88-03
<p>Velcom &nbsp; 8 (044) 755-88-03</p>
<p>Life :-) &nbsp; 8 (025) 911-61-61</p>
